{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<title>{% block Title %}Nuevo restaurante {% endblock %}</title>


<form method="POST">
	{% csrf_token %}
		<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre:</label>
				<input class= "form-control" type="text" name="nombre_restaurante" required="required" value="{{object.nombre_restaurante}}" pattern="[A-Za-z\s]{1,50}">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Direccion:</label>
				<input class= "form-control" type="text" name="direccion" required="required" value="{{object.direccion}}" pattern="[A-Za-z\0-9\s]{1,50}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Telefono:</label>
				<input class= "form-control" type="text" name="telefono" required="required" value="{{object.telefono}}" pattern="[0-9\-]{9}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Encargado:</label>
				<input class= "form-control" type="text" name="nombre_encargado" required="required" value="{{object.nombre_encargado}}" pattern="[A-Za-z\s]{1,50}">
			</div>
			<button class="btn btn-primary" type="submit">Guardar</button>
		</div>
	</div>
</form>


{% endblock %}